<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <russellalbin>
            <top_menu>
                <show_item>1</show_item>
                <item_text_db>Resume DB</item_text_db>
                <item_text_xml>Resume XML</item_text_xml>
            </top_menu>
        </russellalbin>
    </default>
</config>
